/* 
* @Author	: Brian Imannuel
* @Facebook	: www.facebook.com/Arvbastards
* @Twitter	: @bukanmanusiaa_
*
* Gausah di hapus cokk! dihapus maqlo gay!!
*/
html {
  scroll-behavior: smooth;
}

body {
	margin:0;
	background:#0d47a1;
	font-family:Roboto, sans-serif;
}

a:link {
	text-decoration:none;
	color:#fff;
}

a:visited {
	text-decoration:none;
	color:#fff;
}

hr {
	color:#ececec;
}

button {
	background:#1565c0;
	margin-bottom:10px;
	padding:5px;
	color:#fff;
	font-weight:bold;
	font-size:15px;
	width:100%;
	border:none;
	border-radius:5px;
	cursor:pointer;
}

button:hover {
	background:#0d47a1;
	transition:0.3s;
}

#header-wrapper {
	margin:0 auto;
	position:fixed;
	background:#1565c0;
	width:100%;
	color:#fff;
	text-align:center;
	font-size:24px;
	box-sizing:border-box;
	box-shadow:0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.header-section {
	margin:0 50px;
	padding:10px;
	float:left;
	font-weight:bold;
}

.navmenu {
	float:right;
	padding:0 50px;
	font-size:20px;
}

.navmenu ul {
	position:relative;
    display:inline;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	list-style:none;
}

.navmenu ul li {
	padding:14px 20px;
	display:inline;
	float:left;
	font-size:18px;
}

.navmenu ul li:hover {
	background:#0d47a1;
	transition:0.5s;
}

#body-wrapper {
	margin:0 auto;
	padding:10% 30px 30px;
	background:#fbfbfb;
	width:60%;
	box-sizing:border-box;
}

#footer-wrapper {
	margin:0 auto;
	padding:15px 7px;
	text-align:center;
	font-size:14px;
	color:#fff;
	background:#43A047;
	width:60%;
	border-top:10px double #fff;
	box-sizing:border-box;
}

.form {
	margin:0 0 10px;
	padding:13px 6px;
	width:100%;
	font-size:14px;
	border-radius:5px;
	border:1px solid #000;
	box-sizing:border-box;
	word-wrap:break-word;
}

.form:focus {
	box-shadow:0 0 10px #1565c0;
	transition:0.3s;
	border-color:#1565c0;
	-webkit-box-shadow:0 0 4px #1565c0,inset 2px 3px 5px rgba(0,0,0,0.05);
}

.results {
	background:#ffeaa7;
	margin:10px 0 10px;
	padding:13px 6px;
	width:100%;
	border-radius:5px;
	border:none;
	box-sizing:border-box;
	word-wrap:break-word;
}

#follow {
	margin:50px;
	text-align:center;
}

.fa {
	margin:10px 3px;
	color:#848484;
}

.fa-facebook-square:hover {
	color:#3b5998;
	transition:0.3s;
}

.fa-twitter-square:hover {
	color:#1da1f2;
	transition:0.3s;
}

.fa-instagram:hover {
	color:#3F729B;
	transition:0.3s;
}

@media only screen and (max-width:670px) {
	.header-section {
		margin:0 20px;
	}
	.navmenu {
		padding:0 20px;
	}
}

@media only screen and (max-width:480px){
	#body-wrapper {
		padding:40% 10px 20px;
		width:95%;
	}
	#footer-wrapper {
		width:95%;
	}
	.header-section {
		float:none;
	}
	.navmenu {
		display:none;
	}
}